# Data Analysis with Pandas

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt

import pandas as pd

In [2]:
df_trip = pd.read_csv("trip.csv")
df_weather = pd.read_csv("weather.csv")
df_stations = pd.read_csv("station.csv")
df_trip

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0
...,...,...,...,...,...,...,...,...,...,...,...,...
286853,255241,8/31/2016 23:34,8/31/2016 23:45,SEA00201,679.532,Harvard Ave & E Pine St,2nd Ave & Spring St,CH-09,CBD-06,Short-Term Pass Holder,NaN,NaN
286854,255242,8/31/2016 23:48,9/1/2016 0:20,SEA00247,1965.418,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286855,255243,8/31/2016 23:47,9/1/2016 0:20,SEA00300,1951.173,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286856,255244,8/31/2016 23:49,9/1/2016 0:20,SEA00047,1883.299,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286857,255245,8/31/2016 23:49,9/1/2016 0:20,SEA00442,1896.031,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN

## What is the average trip duration for a borrowed bicycle?

In [3]:
average_trip_duration=df_trip['tripduration'].mean()
average_trip_duration

1178.3542840325176

## What’s the most common age of a bicycle-sharer?

In [4]:
most_common_age=df_trip['birthyear'].mode()[0]
most_common_age = 2021-most_common_age 
most_common_age

34.0

## Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [5]:
precipitation_avg_df = df_weather["Precipitation_In"].mean()
avg_precipitation = precipitation_avg_df*30
avg_precipitation

3.1519593613933234

In [6]:
median_precipitation = df_weather["Precipitation_In"].median()
median_precipitation

0.0

## What’s the average number of bikes at a given bike station

In [7]:
avareg_no_bike =df_stations["install_dockcount"].mean()
avareg_no_bike

17.586206896551722

## When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know

In [8]:
modified_bike_avg = df_stations["current_dockcount"].mean()
modified_bike_avg

if modified_bike_avg < avareg_no_bike:
    result = "likely to lose bikes"
else:
    result ="likely to gain bikes"

result

'likely to lose bikes'

## Come up with 3 more questions that can be answered with this data set.

1. what is the name of station that have BT-05 id

In [9]:
max_trip = df_trip['tripduration'].max()
max_trip

28794.398

2. The date of the least recorded temperature?

In [10]:
min_date=df_weather["Date"].min()
min_date

'1/1/2015'

3. What is the oldest birthyear in the trips?

In [11]:
# user_types = df_trip.set_index("trip_id")
oldest_year = df_trip['birthyear'].min()
oldest_year

1931.0

In [12]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"
    assert_equal(average_trip_duration, 1178.3542840325176)
    assert_equal(most_common_age, 34)
    assert_equal(avg_precipitation, 3.1519593613933234)
    assert_equal(median_precipitation, 0.0)
    assert_equal(avareg_no_bike,17.586206896551722)
    assert_equal(result, "likely to lose bikes")
    assert_equal(max_trip, 28794.398)
    assert_equal(min_date, '1/1/2015')
    assert_equal(oldest_year,1931.0)

    print("Success!!!")

test()

Success!!!